/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	font-family: 'Rubik', sans-serif;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: var(--black);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 4rem;
	position: relative;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

:root {
	--white: #ebe9e9;
	--black: #070707;
	--blue: #0075c4;
	--pink: #fc6471;
	--green: #33ca7f;
	--purple: #230c33;
}

main {
	width: 100%;
	height: 100%;
	padding: 0 4rem;
	display: flex;
}
