.nav {
	width: 100%;
	padding: 1rem 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoContainer {
}

.logo {
	color: var(--white);
	font-size: 2rem;
	font-weight: 900;
}

.actionContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.action {
	list-style: none;
	color: var(--white);
	padding: 0.5rem 1rem;
	border: 2px solid var(--black);
	border-bottom-color: var(--white);
	cursor: pointer;
	font-weight: bold;
	transition: all 0.2s ease-out;
}

.active {
	border-color: var(--white);
	background-color: var(--white);
	color: var(--black);
}

.action:hover {
	border-color: var(--white);
	background-color: var(--white);
	color: var(--black);
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--black);
	border: 0.75rem solid var(--green);
	z-index: 100;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	color: var(--white);
}
.popup h2 {
	font-size: 3rem;
}

.popup ul {
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.popup ul li {
	list-style: disc;
	font-size: 1.25rem;
	line-height: 1.5;
}
